body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 1904px;
    padding: 0 8px;
    margin: 0 auto;
}

body.show-menu {
    overflow-y: hidden;
}

header {
    padding: 18px 0 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: #17181c;
    z-index: 15;
}

.burger {
    display: none;
    position: relative;
    /* padding: 10px 0; */
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #30c5ff;
    cursor: pointer;
    transform-origin: border-color, shadow;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.burger__span {
    position: absolute;
    top: 22px;
    left: 11px;
    width: 25px;
    height: 2px;
    background-color: #30c5ff;
    transform-origin: center;
    transition-property: transform, background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.burger__span:first-of-type {
    top: 13px;
}

.burger__span:last-of-type {
    top: 31px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

main {
    width: 100%;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

.footer__link {
    cursor: pointer;
}

.footer__ico {
    fill: #30c5ff;
    transition: fill 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
    .burger {
        display: block;
    }

    header {
        padding-bottom: calc(10px + 1rem);
        justify-content: space-between;
    }

    header h1 {
        font-size: 35px;
        margin: 0;
    }

    html {
        font-size: 10px;
    }

    body {
        font-size: 12px;
    }

    header.show .burger__span:first-of-type,
    header.show .burger__span:last-of-type {
        display: none;
    }

    header.show .burger__span-second {
        transform: rotate(-45deg);
    }

    header.show .burger__span-third {
        transform: rotate(45deg);
    }
}

@media screen and (hover: hover) {
    .burger:hover {
        border-color: #3fcc59;
        box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
        .burger__span {
            background-color: #69db7e;
        }
    }
    .footer__ico:hover {
        fill: #3fcc59;
    }
}
