body {
    margin: 0;
    font-size: $font-size;
    font-weight: bold;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    max-height: 100vh;
}

.title {
    text-transform: uppercase;
    text-align: center;
}

.main {
    @include display-flex(row);
    width: 100%;
}

.hangman {
    width: 40%;
    height: 480px;
    position: relative;
    @include display-flex(row);
}

.quiz {
    width: 60%;
    @include display-flex(column);
}

.quiz__answer {
    @include display-flex(row, center);
    column-gap: 15px;
    list-style: none;
    padding: 0;
    margin-bottom: $margin-bottom;
}

.quiz__char {
    padding: 5px;
    border-bottom: 2px solid black;
    width: 20px;
    height: $font-size;
    user-select: none;
}

.quiz__text {
    text-align: center;
    margin-bottom: $margin-bottom;
    user-select: none;
}

.keyboard {
    width: 100%;
    max-width: 550px;
    @include display-flex(row, center);
    row-gap: 20px;
    column-gap: 15px;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    font-size: $font-size;
    border-radius: 50%;
    border: 1px solid $btn-border-color;
    @include display-flex(row, center, center);
    &:disabled {
        cursor: default;
    }
    &:active:enabled {
        outline: 1px solid $btn-outline-color;
    }
    transition: background-color 0.3s ease-in-out;
}

.keyboard__btn {
    user-select: none;
    width: $btn-size;
    height: $btn-size;
    background-color: $btn-background;
    color: white;
    &:disabled {
        background-color: $btn-background-disabled;
    }
    @media screen and (hover: hover) {
        &:hover:enabled {
            background-color: $btn-background-hover;
        }
    }
}
