body {
    margin: 0;
    font-size: $font-size;
    font-weight: bold;
    @media screen and (max-width: 560px) {
        font-size: 20px;
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    max-height: 100svh;
    padding: 15px;
}

.title {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    @media screen and (max-width: 995px) {
        font-size: 40px;
    }
    @media screen and (max-width: 500px) {
        font-size: 30px;
    }
}

.main {
    @include display-flex(row, flex-start, center);
    width: 100%;
    @media screen and (max-width: 995px) {
        flex-direction: column;
    }
}

.hangman {
    width: 50%;
    //height: 480px;
    position: relative;
    @include display-flex(row, center, center);
    @media screen and (max-width: 995px) {
        width: 100%;
    }
}

.hangman__img {
    @include display-flex();
    width: 100%;
    height: auto;
    max-width: 550px;
    @media screen and (max-width: 995px) {
        max-height: 400px;
        width: auto;
    }
    @media screen and (max-width: 460px) {
        height: auto;
        width: 100%;
    }
    @media screen and (max-width: 390px) {
        max-height: 300px;
        width: auto;
    }
}

.quiz {
    width: 60%;
    @include display-flex(column, flex-start, center);
    @media screen and (max-width: 995px) {
        width: 100%;
    }
}

.quiz__answer {
    @include display-flex(row, center);
    width: 100%;
    column-gap: 15px;
    list-style: none;
    padding: 0;
    margin-bottom: $margin-bottom;
    @media screen and (max-width: 995px) {
        margin-bottom: 25px;
    }
    @media screen and (max-width: 560px) {
        column-gap: 10px;
    }
}

.quiz__char {
    padding: 5px;
    border-bottom: 2px solid black;
    width: 20px;
    height: 27px;
    user-select: none;
    @include display-flex(column, center, center);
    @media screen and (max-width: 560px) {
        height: 23px;
    }
}

.quiz__char-noborder {
    border-bottom: none;
}

.quiz__text {
    text-align: center;
    margin-bottom: $margin-bottom;
    user-select: none;
    max-width: 550px;
    @media screen and (max-width: 995px) {
        margin-bottom: 25px;
    }
}

.quiz__text-red {
    color: $color-red;
}

.keyboard {
    width: 100%;
    max-width: 550px;
    @include display-flex(row, center);
    row-gap: 20px;
    column-gap: 15px;
    flex-wrap: wrap;
    margin: 0 auto;
    @media screen and (max-width: 995px) {
        row-gap: 18px;
    }
    @media screen and (max-width: 510px) {
        row-gap: 10px;
        column-gap: 10px;
    }
    @media screen and (max-width: 470px) {
        row-gap: 5px;
        column-gap: 5px;
    }
}

.btn {
    user-select: none;
    cursor: pointer;
    font-size: $font-size;
    border-radius: 50%;
    border: 1px solid $btn-border-color;
    @include display-flex(row, center, center);
    &:disabled {
        cursor: default;
    }
    &:active:enabled {
        outline: 1px solid $btn-outline-color;
    }
    transition: background-color 0.3s ease-in-out;
    background-color: $btn-background;
    color: white;
    &:disabled {
        background-color: $btn-background-disabled;
    }
    @media screen and (hover: hover) {
        &:hover:enabled {
            background-color: $btn-background-hover;
        }
    }
    @media screen and (max-width: 560px) {
        font-size: 20px;
    }
    @media screen and (max-width: 430px) {
        font-size: 18px;
    }
}

.keyboard__btn {
    width: $btn-size;
    height: $btn-size;
    @media screen and (max-width: 560px) {
        width: 40px;
        height: 40px;
    }
    @media screen and (max-width: 430px) {
        width: 37px;
        height: 37px;
    }
    @media screen and (max-width: 403px) {
        width: 35px;
        height: 35px;
    }
    @media screen and (max-width: 385px) {
        width: 32px;
        height: 32px;
    }
}
