.main__game__footer {
    @include display-flex(row, center, center);
    column-gap: 15px;
}

.btn-check {
    background-color: $color-orange-btn;
    border: 1px solid $color-orange-btn;
    @media screen and (hover: hover) {
        &:hover {
            background-color: saturate($color-orange-btn, 15%);
            border: 1px solid saturate($color-orange-btn, 10%);
        }
    }
    &.continue {
        animation: 0.5s linear btn-transform-continue;
    }
    &.check {
        animation: 0.5s linear btn-transform-check;
    }
}
