.main__start {
    //background-color: rgb(235 241 46 / 28%);
    //background-color: rgb(255 255 255 / 20%);
    border-radius: 20px;
    @include display-flex(column, center, center);
    height: calc(100dvh - 101px);
    color: $color-title;
    &.start_page {
        background-color: rgb(235 241 46 / 28%);
    }
}

.main__start__greeting {
    font-family: Dragon;
    font-size: 24px;
    color: rgb(213 145 52);
}

.main__start__title {
    font-family: Dragon;
    font-size: 36px;
}

.main__start__description {
    max-width: 50%;
    text-align: center;
    font-family: Theren;
    margin-bottom: 50px;
}

.btn-start {
    color: $color-title;
    font-family: Theren;
    background-color: $color-green-btn;
    border: 1px solid $color-green-btn;
}

.main__game {
    padding: 25px;
    justify-content: flex-start;
    row-gap: 25px;
}

.main__game__header {
    @include display-flex(row);
    width: 100%;
    font-family: Dragon;
}

.main__game__task,
.main__game__hint {
    font-family: Snowstorm;
    font-size: 24px;
}

.main__game__hint {
    color: $color-hint;
}

.main__game__game {
    user-select: none;
    width: 58.5%;
    height: 450px;
    background-color: rgb(235 241 46 / 20%);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    font-family: Snowstorm;
    font-size: calc(14px + (20 - 14) * (100vw - 768px) / (1440 - 768));
}

.main__game__words {
    @include display-flex(row, flex-start);
    width: 58.5%;
    font-family: Snowstorm;
    font-size: calc(14px + (20 - 14) * (100vw - 768px) / (1440 - 768));
    user-select: none;
    height: 32px;
}
