.game__row {
    // border: 1px solid grey;
    @include display-flex(row, flex-start);
}

.game__card {
    min-width: 30px;
    min-height: 30px;
    border-radius: 5px;
    //border: 1px solid $color-green-btn;
}

.game__card__word {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: $color-green-btn;
    border-radius: 5px;
    flex-grow: 2;
    transition: background-color 0.3s ease-in-out;
    @media screen and (hover: hover) {
        &:hover {
            background-color: $color-orange-btn;
        }
    }
}
