.game__row {
    border: 1px solid grey;
}

.game__words {
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    background-color: $color-green-btn;
    border-radius: 5px;
    flex-grow: 2;
    transition: background-color 0.3s ease-in-out;
    @media screen and (hover: hover) {
        &:hover {
            background-color: $color-orange-btn;
        }
    }
}
