*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-image: url("./assets/images/bg.png");
    background-size: cover;
    margin: 0;
}

.btn {
    cursor: pointer;
    font-family: Theren;
    color: $color-btn;
}
