//font
$font-size: 24px;
//btn-size
$btn-size: 45px;
//colors
$btn-background: rgb(104, 79, 204);
$btn-border-color: rgb(87, 54, 216);
$btn-outline-color: rgb(56, 14, 223);
$btn-background-disabled: rgb(223, 74, 114);
$btn-background-hover: rgb(70, 51, 146);
//margin-bottom
$margin-bottom: 30px;
