$color-orange: #e7650d;
$background-color: white;
$shadow-color: #46a766;
$form-font-color: #c99040;
$form-border-color: #bd863a;
$color-error: red;
$color-nonactive: rgb(201, 58, 58);
$color-valid: #16a562;
$color-orange-btn: saturate($form-border-color, 35%);
$color-btn: #073e07;
