body {
    margin: 0;
    background-color: $black-color;
    padding: 15px;
    color: $font-color;
    font-family: Dragon;
}

.container__garage {
    @include display-flex(column);
}

.btn {
    &:not(:disabled) {
        cursor: pointer;
    }
    padding: 2px 5px;
    min-width: 53px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: $font-color;
    font-family: Hexen;
    transition:
        background-color,
        color 0.5s ease-in;
}
