.btn {
    user-select: none;
    @include zero-padding();
    @include text();
    font-size: $font-size_normal;
    @include display-flex(row, center, center);
    transition:
        background-color,
        color 0.3s ease-in-out;
    &:not(:disabled) {
        cursor: pointer;
    }
}

.btn-play {
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    left: 85px;
    background-color: $btn-background;
    color: $btn-color;
    border: 1px solid $btn-border-color;
    &:active:enabled {
        outline: 1px solid $btn-outline-color;
    }
    @media screen and (hover: hover) {
        &:hover {
            background-color: $btn-background-hover;
        }
    }
}

.btn-nav {
    padding: 3px 13px;
    background-color: transparent;
    border: none;
    font-size: 32px;
    @media screen and (hover: hover) {
        &:hover:not(:disabled) {
            color: $btn-color;
        }
    }
}

.btn-menu {
    //padding: 3px 13px;
    @media screen and (hover: hover) {
        .nav__list__item:hover & {
            color: $btn-color;
        }
    }
}

.btn-menuItem {
    padding: 0;
    font-size: $font-size_normal;
    width: 100%;
    @include display-flex(row);
}
