@font-face {
    font-family: "JapaneseStyle";
    //src: url("./styles/fonts/AllYoko.ttf") format("truetype");
    src: url("./styles/fonts/JapaneseStyle.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
