@import "./fonts";

$font-family: "JapaneseStyle", sans-serif;
$font-size_title: 65px;
$font-size_normal: 24px;
$font-color: #535254;
$btn-background: rgb(245, 156, 165);
$btn-background-hover: rgb(226, 149, 157);
$btn-border-color: rgb(163, 103, 109);
$btn-outline-color: rgb(177, 69, 80);
$btn-color: rgb(68, 44, 47);
$color-shadow: rgba(183, 68, 87, 1);
$table-border_bold: 4px solid $font-color;
$table-border_normal: 2px solid $font-color;
