@import "./fonts";

$font-family: "JapaneseStyle", sans-serif;
$font-size_title: 65px;
$font-size_normal: 24px;
$font-color: rgb(83, 82, 84);
$font-color_modal: #343137;
$btn-background: #f35976;
$btn-background-hover: #f36d86;
$btn-background-hover_light: #ecb7c1;
$btn-border-color: rgb(235, 95, 109);
$btn-border-color_light: #e37782;
$btn-outline-color: rgb(170, 55, 67);
$btn-color: #151416;
$btn-color_light: #cac9cc;
$color-shadow: rgba(183, 68, 87, 1);
$table-border_bold: 4px solid $font-color;
$table-border_normal: 2px solid $font-color;
//$font-color_light: #cac9cc;
$font-color_light: #f47f95;
$color-shadow_light: #cac9cc;
$table-border_bold_light: 4px solid $font-color_light;
$table-border_normal_light: 2px solid $font-color_light;
