@mixin center-position() {
    margin: 0 auto;
}

@mixin zero-padding() {
    padding: 0;
}

@mixin zero-margin() {
    margin: 0;
}

@mixin display-flex ($direction: column, $justify: flex-start, $align: normal) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin text-normal() {
    font-family: $font-family;
    font-feature-settings: $font-feature;
    font-size: $font-size-normal;
    line-height: $line-height;
    font-style: $font-style-normal;
}

@mixin text-menu-tablet {
    font-size: $font-size-tablet;
    line-height: $line-height-title;
}

@mixin text-italic() {
    font-style: $font-style-italic;
    color: $text-accent;
}

@mixin header-link() {
    color: $text-dark;
    font-weight: $font-weight-bold;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: $header-link-padding-bottom;
}

@mixin link-after($color) {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: 0;
    background-color: $color;
    transform: translateX(-50%);
    transition-property: width, background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

@mixin offer-title() {
    font-size: $font-size-title-enjoy;
    font-weight: $font-weight-bold;
    line-height: $line-height-title-enjoy;
    color: $text-light;
}

@mixin offer-subtitle() {
    color: $text-light;
    font-weight: $font-style-normal;
}

@mixin button-text() {
    color: $text-dark;
    font-weight: $font-weight-bold;
}

@mixin title() {
    font-size: $font-size-title;
    line-height: $line-height-title;
    color: $text-dark;
}

@mixin slider-title() {
    font-size: $font-size-medium;
    color: $text-dark;
    font-weight: $font-weight-bold;
    line-height: $line-height-title;
}

@keyframes width-out {
    from {
        value: 100%;
    }
    to {
        value: 0%;
    }
}