//container
$max-width: 1440px;
$padding-desktop: 40px;

//colors
$text-dark: #403F3D;
$text-light: #E1D4C9;
$text-accent: #B0907A;

$background-body: #E1D4C9;
$background-container: #665F55;
$background-backdrop: #2D2D2D;

$border-light: #C1B6AD;
$border-dark: #665F55;

//header
$paddind-header-top: 20px;
$header-column-gap: 40px;
$header-row-gap: 20px;
$header-menu-gap: 8px;
$header-margin-bootom: 20px;
$header-link-padding-bottom: 4px;

//text
$font-family: 'Inter', sans-serif;
$font-size-small: 10px;
$font-size-normal: 16px;
$font-size-medium: 24px;
$font-size-title: 60px;
$font-weight-bold: 600;
$font-weight-normal: 400;
$line-height-small: 1.4;
$line-height: 1.5;
$line-height-title: 1.25;
$font-style-normal: normal;
$font-style-italic: italic;
$font-feature: 'clig' off, 'liga' off;

$font-size-title-enjoy: 72px;
$line-height-title-enjoy: 1.05;

//section
$section-margin-bottom: 100px;

//enjoy
$enjoy-padding: 100px;
$enjoy-border-radius: 40px;

//Buttons
$button-menu-width: 200px;
$button-menu-padding-top: 20px;
$button-border-radius: 100px;

$button-arrow-diametr: 60px;

$button-pagination-width: 40px;
$button-pagination-height: 4px;

$button-mobile-row-gap: 8px;
$button-mobile-width: 200px;
$button-mobile-padding-top: 12px;
$button-mobile-padding-left: 20px;

//favorites
$favorites-row-gap: 40px;

//slider
$slider-content-width: 480px;
$slider-content-row-gap: 20px;
$slider-description-row-gap: 16px;
$slider-pagination-column-gap: 12px;

//about
$about-gap: 40px;
$about-border-radius: 20px;
$about-max-height: 1060px;
$about-image-small-height: 430px;
$about-image-large-height: 590px;

//mobileapp
$mobileapp-column-gap: 100px;
$mobileapp-row-gap: 40px;
$mobileapp-download-column-gap: 20px;
$mobileapp-download-row-gap: 2px;