//container
$max-width: 1440px;
$padding-desktop: 40px;

//colors
$text-dark: #403F3D;
$text-light: #E1D4C9;
$text-accent: #B0907A;

$background-body: #E1D4C9;
$background-container: #665F55;
$background-backdrop: #2D2D2D;

$border-light: #C1B6AD;
$border-dark: #665F55;

//header
$paddind-header-top: 20px;
$header-column-gap: 40px;
$header-row-gap: 20px;
$header-menu-gap: 8px;
$header-margin-bootom: 20px;
$header-link-padding-bottom: 4px;

//text
$font-family: 'Inter', sans-serif;
$font-size-small: 10px;
$font-size-normal: 16px;
$font-size-medium: 24px;
$font-size-title: 60px;
$font-weight-bold: 600;
$font-weight-normal: 400;
$line-height-small: 1.4;
$line-height: 1.5;
$line-height-title: 1.25;
$font-style-normal: normal;
$font-style-italic: italic;
$font-feature: 'clig' off, 'liga' off;

$font-size-title-enjoy: 72px;
$line-height-title-enjoy: 1.05;