.footer {
    @include display-flex(row, space-between, center);
    font-family: Dragon;
    color: $color-orange-btn;
    user-select: none;
    border-top: 2px solid $form-font-color;
    //padding: 10px 0;
}

.footer__ico {
    fill: $color-orange-btn;
    transition:
        fill,
        transform 0.3s ease-in;
    @media screen and (hover: hover) {
        &:hover {
            fill: lighten($color-orange-btn, 5%);
            transform: scale(1.05);
        }
    }
}
