.users {
    padding: 10px;
    font-family: Hexen;
    font-size: 1.5em;
    @include display-flex(column);
    row-gap: 15px;
    width: 25%;
    color: $form-font-color;
    height: 100%;
    //border-radius: 10px;
    //background-color: rgba($color: $form-font-color, $alpha: 0.15);
    border-right: 2px solid $form-font-color;
}

.users__search {
    font-size: inherit;
    color: inherit;
    outline: none;
    border: 1px solid $form-border-color;
    padding: 2px 5px 2px 15px;
    font-family: inherit;
    border-radius: 10px;
}

.users__list {
    margin: 0;
    @include display-flex(column);
    list-style: none;
    padding-left: 0;
}

.users__list__item {
    padding: 10px 5px;
    border-radius: 10px;
    transition:
        background-color,
        color 0.3s ease-in-out;
    @include display-flex(row, flex-start, center);
    column-gap: 7px;
    cursor: pointer;
    @media screen and (hover: hover) {
        &:hover {
            background-color: lighten($color-orange, 35%);
            color: $background-color;
        }
        &:hover .status__ico {
            transform: scale(1.2);
        }
    }
    &.hide {
        display: none;
    }
}

.status__ico {
    transition: transform 0.3s ease-in-out;
    .users__list__item.active & {
        fill: $shadow-color;
    }
    .users__list__item.nonactive & {
        fill: $color-nonactive;
    }
}

.users__list__item__ico {
    font-size: 1em;
    margin-left: auto;
    padding: 0 5px;
    border-radius: 10px;
    color: $background-color;
    border: 1px solid lighten($color-orange, 20%);
    background-color: lighten($color-orange, 20%);
    visibility: hidden;
    &.show {
        visibility: visible;
    }
}
