.about {
    @include display-flex();
    row-gap: $about-gap;
    width: 100%;
    margin-bottom: $section-margin-bottom;
}

.about__inner {
    @include display-flex(column, flex-start, flex-end);
    width: 100%;
    max-height: 1060px;
    gap: $about-gap;
    flex-wrap: wrap;
    @media (max-width: 768px) {
        flex-direction: row;
        max-height: fit-content;
    }
}

.about__image {
    object-fit: cover;
    width: 110%;
    transition: transform 500ms ease-out;
    @media (max-width: 1024px) {
        width: 105%;
    }
}

.about__wrapper {
    width: 48.5%;
    max-height: 430px;
    border-radius: $about-border-radius;
    overflow: hidden;
    @include display-flex(column, center, center);
    @media (hover: hover) {
        &:hover > .about__image {
            transform: scale(0.95);
        }
    }
    @media (max-width: 768px) {
        width: 100%;
    }
}

.about__wrapper-large {
    max-height: 590px;
}

.about__wrapper-small {
    @media (max-width: 768px) {
        display: none;
    }
}