.container {
    max-width: $max-width;
    width: 100%;
    @include center-position();
    padding: 0 $padding-desktop;
    @include display-flex();
    @media (max-width: 640px) {
        padding: 0 $padding-mobile;
    }
}