.favorites {
    @include display-flex(column, flex-start, center);
    row-gap: $favorites-row-gap;
    width: 100%;
    margin-bottom: $section-margin-bottom;
}

.section__title {
    @include zero-margin();
    @include text-normal();
    @include title();
    @media (max-width: 640px) {
        font-size: $font-size-tablet;
    }
}

.section__title-center {
    @media (max-width: 1024px) {
        text-align: center;
    }
}

.section__title-italic {
    @include text-italic();
}

.slider__container {
    @include display-flex();
    width: 100%;
}

.slider {
    @include display-flex(row, space-between, center);
    width: 100%;
    @media (max-width: 640px) {
        justify-content: center;
    }
}

.slider__wrapper {
    overflow-x: hidden;
    max-width: $slider-content-width;
    width: calc(100% - 2*60px);
    @media (max-width: 640px) {
        max-width: 100%;
        width: 100%;
    }
}

.slider__content {
    @include display-flex();
    row-gap: $slider-content-row-gap;
}

.slider__description {
    @include display-flex(column, flex-start, center);
    row-gap: $slider-description-row-gap;
}

.slider__title {
    @include zero-margin();
    @include text-normal();
    @include slider-title();
}

.slider__text {
    @include zero-margin();
    @include text-normal();
    text-align: center;
    color: $text-dark;
}

.slider__image {
    width: 100%;
}

.slider__pagination {
    @include display-flex(row);
    column-gap: $slider-pagination-column-gap;
}

.progress__pagination {
    width: 40px;
    height: 4px;
    border-radius: $button-border-radius;
    &::-webkit-progress-bar {
        background-color: $border-light;
        border-radius: $button-border-radius;
    }
    &::-webkit-progress-value {
        background-color: $border-dark;
        border-radius: $button-border-radius;
    }
}