.header {
    padding-top: $paddind-header-top;
    @include display-flex();
    width: 100%;
    row-gap: $header-row-gap;
    margin-bottom: $header-margin-bootom;
}

.header__inner {
    @include display-flex(row, space-between, center);
}

.header__nav {
    @include display-flex(row, space-between, center);
    width: 100%;
    background-color: $background-body;
    transition: transform 0.3s ease-in-out;
}

.header__logo__link {
    @include display-flex();
}

.header__logo__link-main {
    pointer-events: none;
}

.header__list {
    @include zero-padding();
    @include zero-margin();
    @include display-flex(row, center, center);
    flex-grow: 1;
    column-gap: $header-column-gap;
    list-style: none;
}

.header__list__item {
    @include display-flex();
}

.header__link {
    @include text-normal();
    @include header-link();
    position: relative;
    &::after {
        @include link-after($border-light);
    }
    @media (hover:hover) {
        &:hover::after {
            background-color: $text-dark;
            width: 100%;
        }
    }
}

.header__menu {
    @include display-flex(row, flex-start, flex-start);
    column-gap: $header-menu-gap;
    background-color: $background-body;
    position: relative;
    &::after {
        @include link-after($border-light);
    }
    @media (hover:hover) {
        &:hover::after {
            background-color: $text-dark;
            width: 100%;
        }
    }
}

.header__menu-menu {
    @include display-flex(row, flex-start, flex-start);
    column-gap: $header-menu-gap;
    background-color: $background-body;
    position: relative;
    pointer-events: none;
    &::after {
        @include link-after($border-light);
        background-color: $text-dark;
        width: 100%;
    }
}

.coffee__cup__ico {
    stroke: $text-dark;
    width: 20px;
    height: 20px;
    stroke-width: 1.5px;
}

.header__menu__link {
    @include text-normal();
    @include header-link();
}

.burger {
    display: none;
}