.header {
    padding-top: $paddind-header-top;
    @include display-flex();
    width: 100%;
    row-gap: $header-row-gap;
    margin-bottom: $header-margin-bootom;
}

.header__inner {
    @include display-flex(row, space-between, center);
}

.header__nav {
    @include display-flex(row, space-between, center);
    width: 100%;
    background-color: $background-body;
    transition: transform 0.3s ease-in-out;
    @media (max-width: 768px) {
        @include display-flex(column, flex-start, center);
        height: calc(100vh - 100px);
        transform: translateX(100%);
        position: fixed;
        z-index: 5;
        top: 100px;
        right: 0;
        padding: 60px 40px;
        row-gap: $section-margin-bottom;
    }
    .header.show & {
        transform: translateX(0);
    }
}

.header__logo__link {
    @include display-flex();
}

.header__logo__link-main {
    pointer-events: none;
}

.header__list {
    @include zero-padding();
    @include zero-margin();
    @include display-flex(row, center, center);
    flex-grow: 1;
    column-gap: $header-column-gap;
    list-style: none;
    @media (max-width: 768px) {
        flex-direction: column;
        row-gap: 60px;
        flex-grow: 0;
    }
}

.header__list__item {
    @include display-flex();
}

.header__link {
    @include text-normal();
    @include header-link();
    position: relative;
    &::after {
        @include link-after($border-light);
    }
    @media (hover:hover) {
        &:hover::after {
            background-color: $text-dark;
            width: 100%;
        }
    }
    @media (max-width: 768px) {
        @include text-menu-tablet();
        padding-bottom: 0;
    }
}

.header__menu {
    @include display-flex(row, flex-start, flex-start);
    column-gap: $header-menu-gap;
    background-color: $background-body;
    position: relative;
    &::after {
        @include link-after($border-light);
    }
    @media (hover:hover) {
        &:hover::after {
            background-color: $text-dark;
            width: 100%;
        }
    }
    @media (max-width: 768px) {
        column-gap: 16px;
    }
}

.header__menu-menu {
    @include display-flex(row, flex-start, flex-start);
    column-gap: $header-menu-gap;
    background-color: $background-body;
    position: relative;
    &::after {
        @include link-after($border-light);
        background-color: $text-dark;
        width: 100%;
    }
    .header__menu__link {
        cursor: default;
    }
}

.coffee__cup__ico {
    stroke: $text-dark;
    width: 20px;
    height: 20px;
    stroke-width: 1.5px;
    @media (max-width: 768px) {
        width: 40px;
        height: 40px;
        stroke-width: 1px;
    }
}

.header__menu__link {
    @include text-normal();
    @include header-link();
    @media (max-width: 768px) {
        @include text-menu-tablet();
    }
}

.burger {
    display: none;
    @media (max-width: 768px) {
        @include display-flex();
    }
}