$background-color: white;
$shadow-color: rgb(70, 167, 102);
$form-font-color: #c99040;
$form-border-color: rgb(189, 134, 58);
$color-error: red;
$color-valid: #16a562;
$color-title: #355bd6;
$color-green-btn: rgb(137, 209, 69);
$color-orange-btn: saturate($form-border-color, 35%);
$color-btn: #073e07;
$color-btn-continue: #452396;
$color-btn-check: #c70f9f;
$color-btn-options: #dd7712;
$color-btn-options-active: rgb(255, 255, 17);
$modal-color: rgb(63, 61, 61);
