.modal__background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    @include display-flex(column, center, center);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 50;
    background-color: rgba(black, 0.45);
    &.show {
        visibility: visible;
        opacity: 1;
    }
}

.main__statistic {
    user-select: none;
    min-width: 550px;
    max-width: 750px;
    border-radius: 20px;
    padding: 20px;
    @include display-flex(column, center, center);
    row-gap: 15px;
    //transform: translateY(-25%);
    transition: transform 0.3s ease-in-out;
    background-color: white;
    color: $modal-color;
    font-family: Dragon;
    font-size: calc(12px + (20 - 14) * (100vw - 768px) / (1440 - 768));
    // .modal__background.show & {
    //     transform: translateY(0%);
    // }
}

.modal__title {
    margin: 0;
    font-family: Snowstorm;
    text-align: center;
    font-weight: normal;
    color: $color-title;
}

.modal__miniature {
    max-width: 150px;
    object-fit: cover;
    align-self: center;
    border-radius: 5px;
}

.modal__sentences {
    max-height: 350px;
    overflow-y: scroll;
}

.modal__list {
    list-style: none;
    margin: 0;
    @include display-flex(column);
    row-gap: 5px;
    margin-bottom: 15px;
    padding: 0;
    //font-size: calc(12px + (20 - 14) * (100vw - 768px) / (1440 - 768));
}

.modal__list-red {
    color: rgb(243, 80, 80);
}

.modal__list-green {
    color: $color-valid;
}

.modal__list__item {
    font-family: Snowstorm;
    padding-left: 10px;
    color: $modal-color;
    @include display-flex(row, flex-start, center);
    column-gap: 10px;
}

.modal__footer {
    width: 100%;
    @include display-flex(row, center, center);
    column-gap: 15px;
}
