.container {
    max-width: 1440px;
    margin: 0 auto;
    @include display-flex(column);
    padding: 15px;
    height: calc(100dvh - 30px);
}

.startPage,
.statistics {
    justify-content: center;
    align-items: center;
}
