.header {
    @include display-flex(row, space-between, center);
}

.header__wrapper {
    @include display-flex(row);
    column-gap: 10px;
}

.header__title {
    margin: 0;
}

.btn__header {
    font-size: 1.25em;
    @media screen and (hover: hover) {
        &:hover {
            background-color: lighten($color: $font-color, $amount: 15%);
            color: white;
        }
    }
}
