.garage__race__row {
    @include display-flex(row);
}

.garage__car__svg {
    @include display-flex(row);
    fill: $font-color;
}

.garage__race__row__finish {
    position: absolute;
    right: calc(50px + 75px);
}
