* {
    box-sizing: border-box;
}

body {
    background-image: url("./assets/images/bg.webp");
    //background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    //    url("./assets/images/bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    @include zero-margin();
}
