.footer {
    font-size: $font-size_normal;
    width: 100%;
}

.footer__list {
    @include zero-margin();
    @include zero-padding();
    list-style: none;
    @include display-flex(row, space-between, center);
}

.footer__link {
    @include display-flex();
}

.footer__ico {
    max-width: 100px;
    transition: fill 0.3s ease-in;
    @media (hover: hover) {
        body.light &:hover {
            fill: darken($font-color, 20%);
        }
        body.dark &:hover {
            fill: $btn-color_light;
        }
    }
    body.light & {
        fill: $font-color;
    }
    body.dark & {
        fill: $font-color_light;
    }
}
