.header {
    @include display-flex(column, center);
    width: 100%;
    row-gap: 10px;
}

.title {
    text-transform: uppercase;
    text-align: center;
    @include zero-margin();
    margin: 10px 0;
    font-family: inherit;
    font-size: $font-size_title;
}
