.main {
    @include display-flex(column, center, center);
    row-gap: 20px;
}

.main__title {
    @include zero-margin();
    @include text();
    font-size: 32px;
}

.main__timer {
    @include text();
    font-size: $font-size_normal;
}
