.main {
    @include display-flex(column, center, center);
    row-gap: 20px;
}

.main__title {
    @include zero-margin();
    font-family: inherit;
    font-size: 32px;
    @media screen and (max-width: 585px) {
        font-size: 25.5px;
    }
}

.main__timer {
    font-size: $font-size_normal;
    @include display-flex(row);
    column-gap: 10px;
}

.main__timer-ico {
    body.light & {
        fill: $font-color;
    }
    body.dark & {
        fill: $font-color_light;
    }
}
