.modal__background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    @include display-flex(column, center, center);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 5;
    body.light & {
        background-color: rgba($color: #000000, $alpha: 0.25);
    }
    body.dark & {
        background-color: rgba($color: #000000, $alpha: 0.25);
    }
}

.modal {
    user-select: none;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 450px;
    border-radius: 10px;
    padding: 20px 30px 30px 60px;
    font-size: 36px;
    @include display-flex(column, center, flex-start);
    row-gap: 20px;
    transition: transform 0.5s ease-in-out;
    position: relative;
    transform: translateY(-25%);
    .modal__background.modal-show & {
        transform: translateY(0%);
    }
    body.light & {
        color: $font-color_modal;
        box-shadow: 1px -1px 23px -5px $color-shadow;
        background-image: url("./assets/images/modal.png");
    }
    body.dark & {
        color: $font-color_light;
        box-shadow: 1px -1px 23px -5px $color-shadow_light;
        background-image: linear-gradient(180deg, rgba(83, 82, 84, 0.55), rgba(83, 82, 84, 0.55)),
            url("./assets/images/modal.png");
    }
}

.modal__title {
    @include zero-margin();
    font-size: 60px;
}

.modal__text {
    @include zero-margin();
    font-family: inherit;
    font-size: 30px;
}

.modal__text-pink {
    body.light & {
        color: $btn-background;
    }
    body.dark & {
        color: $color-shadow_light;
    }
}

.modal-show {
    visibility: visible;
    opacity: 1;
}
