table {
    text-align: center;
    border-collapse: collapse;
}

.nonograms {
    user-select: none;
    border: $table-border_bold;
    border-right: $table-border_normal;
    border-bottom: $table-border_normal;
    background-color: rgba($color: #fff, $alpha: 0.75);
}

td {
    padding: 0;
}

.nonograms__row:first-of-type {
    border-bottom: $table-border_bold;
}

.hints__cols,
.game {
    border-left: $table-border_bold;
}

.hints__rows-row:nth-child(5n),
.game__row:nth-child(5n) {
    border-bottom: $table-border_normal;
}

.hints__cell {
    @include table-cell();

    .hints__cols-row:first-of-type & {
        border-top: none;
    }

    .hints__cols-row:last-of-type &,
    .hints__rows-row:last-of-type & {
        border-bottom: none;
    }

    .hints__cols &:nth-child(5n) {
        width: 26px;
        border-right: $table-border_normal;
    }

    .hints__rows-row &:first-of-type {
        border-left: none;
    }

    .hints__rows-row &:last-of-type {
        border-right: none;
    }
}

.game__cell {
    @include table-cell();
    transition: background-color 0.3s ease-in-out;
    .game &:nth-child(5n) {
        width: 26px;
        border-right: $table-border_normal;
    }
}

.color {
    background-color: black;
}

.cross {
    background-image: url("./assets/images/cross.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.pointer:not(.color) {
    background-color: rgb(243, 223, 225);
}

.disabled {
    pointer-events: none;
}
